html,
body {
   	margin:0;
   	padding:0;
   	padding-bottom: 0!important;
	overflow-x: hidden;
   	overflow-y: auto;
   	height: 1224px;
   	width: 100%;
   	align-items: center;
   	align-content: center;
}

ul {
	list-style-type: none;
	display: inline-block;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid black; 
}

footer {
	background-color: #333333;
	border-top: 1px black solid;
	position: relative; 
	width: 100%;
	height: 80px;

}

li {
	display: inline-block;
	margin: 0px 10px;
}

a {
	color: black;
}


img {
	border: 1px solid black;
}

h6 {
	color: white;
}

.display {
	position: relative;
/*  overflow: hidden; */
    width: 1030px;
    display: inline-block;
    float: left;


}

.row, .content {
	width: 1030px;
	margin: 0px;
}

.header {
	text-align: center;
	background-color: ;
}

.title {
	margin-top: 1.5em;
}

.content {
	margin-top: 2em;
}

.header h1 {
	font-family: "Special Elite";
	font-size: 70px;
	padding-bottom: 3px;

}

.title h2 {
	font-size: 40px;
}

.fa {
	font-size: 60px;
	margin-left: 10px;
	color: white; 
}

.fa:hover, .fa:focus {
	color: #d3d3d3; 
	text-decoration:none!important
}


#wrapper {
	width: 1500px;
	height: 1000px;
	display: inline-block;

}


#about {
	left: 0px;
}

#education {
	right: 110%;
}

#experience {
	right: 210%;
}

#projects {
	right: 310%;
}

