footer {
	background-color: #6351ce; 
}

.top-links {
	color: white;
}

.jumbotron {
	height: 300px;
	display: flex;
	justify-content: center;
	background-color: #171717;
}



.header {
	text-align: center;

}

.header h1 {
	color: floralwhite;
	font-family: 'Helvetica Neue';
	font-size: 70px;
/*	text-align: center; */
	padding-bottom: 10px;
	border-bottom: 1px solid white; 
}

.header nav {

}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0px 10px;
}

h2 {
	font-size: 50px;
}


.personal-image img {
	border: 2px solid black;
	float: left;
}

.about-title, .experience-title, .projects-title, .education-title {
	padding-bottom: 10px;
	border-bottom: 1px solid black;	
}

.about-container, .experience-container, .projects-container, .education-container {
/*	border-top: 1px solid black; */
	margin-top: 65px;
}

.about-section, .experience-section, .projects-section, .education-section {
	margin-bottom: 100px;
}

h4 {
	font-size: 20px;
}

.exp-row {
	margin-bottom: 25px;
}

.fa {
	font-size: 30px;
}

i {
	color: black;
}

i:hover {
	color: white;
}

